<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Interactive Card Detials Component</title>
		<script src="https://unpkg.com/imask"></script>
	</head>
	<body class="">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family:"SPG" ;
		src: url("../../public/SpaceGrotesk-Medium.ttf");
	}
	body{
		font-family: "SPG";
		margin: 0;
		background:white;
		padding: 0;
		height: 100vh;
		box-sizing: content-box;
	}
</style>
